.record
    margin 0
    padding 0
    width 100%
    border-bottom 3px solid #199674
    display flex
    justify-content space-between
    margin-top 30px
    margin-bottom 30px
    &__cell
        padding 10px
        &_id
            width 10%
        &_name
            width 20%
        &_phone
            width 15%
        &_email
            width 35%
        &_action
            width 10%
            display flex
            justify-content center
            align-items flex-end
    &__title
        color #c0c0c0
        margin-bottom 10px
    &__value
        line-height 36px
        white-space nowrap
        overflow hidden